python-dotenv
sqlalchemy
pydantic~=2.12.3
numpy~=2.2.6
uvicorn~=0.38.0
markdown
requests>=2.32.5
ddgs>=9.9.1
fastapi>=0.115.0
uvicorn>=0.32.0
python-multipart>=0.0.12
sqlalchemy>=2.0.0
unstructured[md]>=0.16.0
tiktoken>=0.8.0
faiss-cpu>=1.13.0
rank-bm25>=0.2.2
huggingface_hub>=1.1.5
aiohttp>=3.13.2
sentence-transformers
fastmcp>=3.0.0

